<div class="navigations">
    <div class="topnav">
        <div class="dropdown">
            <button class="dropbtn">@{{ user.username }}
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a class="openerprofile" id="openerprofile" onclick="openCity(event, 'profile')" href="#">User
                    Profile</a>
                <a href="/logout">Logout</a>

            </div>
        </div>
        <a href="#" class="bellicon"> <svg xmlns="http://www.w3.org/2000/svg" width="20.513" height="25"
                viewBox="0 0 20.513 25">
                <path id="bell"
                    d="M16.256,28.75a2.572,2.572,0,0,0,2.564-2.564H13.692A2.563,2.563,0,0,0,16.256,28.75Zm7.692-7.692v-6.41c0-3.936-2.1-7.231-5.769-8.1V5.673a1.923,1.923,0,0,0-3.846,0v.872c-3.679.872-5.769,4.154-5.769,8.1v6.41L6,23.622V24.9H26.513V23.622Z"
                    transform="translate(-6 -3.75)" fill="#5d5d5d" />
            </svg></a>

        {% load static %}
        <form class="searchform" action="" autocomplete="on">
            <input id="search" name="search" type="text" placeholder="Search">

            <input id="search_submit" value="" type="submit"
                style="background: url('{% static 'login/img/search.svg' %}') center center no-repeat;">
        </form>
    </div>
    <div class="postfilter" id="filters">
        <?xml version="1.0" encoding="UTF-8"?>
        <svg id="postfilter" width="25" height="18" xmlns="http://www.w3.org/2000/svg" version="1.1"
            xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:avocode="https://avocode.com/" viewBox="0 0 25 18">
            <path id="filter-2"
                d="M22.97766,2.99951h-22.97791v-2.99951h25.09143l-2.11316,2.99902zM17.69275,10.50024h-17.69299v-3.00073h19.80725l-2.11389,3.00024zM12.40857,18h-12.40882v-2.99976h14.52234l-2.11316,2.99927z"
                fill="#5d5d5d" fill-opacity="1"></path>
        </svg>

        <div class="filterdrop">
            <span class="sortby">Sort By</span>
            <div class="botborder"></div>
            <a href="#">Popular</a>
            <a href="#">Latest</a>
            <a href="#">Recommended</a>
            <a href="#">Most liked</a>
        </div>

    </div>
    <div class="topics" id="topics">
        asdfgh
    </div>
    <div class="navborder"></div>
</div>