<div class="main" id="projecttab">
    <div class="projectshowsecction">
        {% include "includes/projects.html" %}
        {% include "includes/projects.html" %}
        {% include "includes/projects.html" %}
        {% include "includes/projects.html" %}
        {% include "includes/projects.html" %}
        {% include "includes/projects.html" %}
        {% include "includes/projects.html" %}
        {% include "includes/projects.html" %}
        {% include "includes/projects.html" %}
    </div>
    <div class="projectuploadsection">
        <div class="uploadingbox">
            <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" viewBox="0 0 70 70">
                <g id="asdsadsfgagds" transform="translate(3 3)">
                    <path id="Pathg_21" data-name="Path 21"
                        d="M68.5,22.5V36.8a7.13,7.13,0,0,1-7.111,7.148H11.611A7.13,7.13,0,0,1,4.5,36.8V22.5"
                        transform="translate(-4.5 20.056)" fill="none" stroke="#b79462" stroke-linecap="round"
                        stroke-linejoin="round" stroke-width="6" />
                    <path id="Pathg_22" data-name="Path 22" d="M45.907,22.371,28.2,4.5,10.5,22.371"
                        transform="translate(3.797 -4.5)" fill="none" stroke="#b79462" stroke-linecap="round"
                        stroke-linejoin="round" stroke-width="6" />
                    <path id="Pathg_23" data-name="Path 23" d="M18,4.5V47.389" transform="translate(14 -4.5)"
                        fill="none" stroke="#b79462" stroke-linecap="round" stroke-linejoin="round" stroke-width="6" />
                </g>
            </svg>

            <span class="projectuploadbutton">Upload</span>
        </div>
    </div>
</div>