<div class="projectblock">
    <div class="profDetails">
        {% load static %}
        <img class="avatars" src="{% static 'login/img/avatar.jpg' %}" alt="#">
        <a href="profile">@{{user.username}}</a>
    </div>
    <div class="projectDetails">
        {% if title %}
        <span class="ptitle">Title: {{title}}</span><br>
        <span class="descriptionn"> Description</span><br>
        <span class="pdescription">
            {{features}}<br>
        <span class="ptopics">
            <form action="/viewpdf/" method="post">
                {%csrf_token %}
                <input id="fname" name="fname" background="transparent" type="hidden" value="{{ fname }}">
                <input type="submit" value="Report">
            </form>
        </span><br>
        <span class="pcreator">Creator: </span><br>
{%endif%}
    </div>
    <div class="projectInteractions">

        <svg class="heartrate" xmlns="http://www.w3.org/2000/svg" width="23.999" height="22.224"
            viewBox="0 0 23.999 22.224">
            <path id="heartrate"
                d="M20.27,3.856c-2.522,0-4.693,2.052-5.7,4.2-1.006-2.143-3.177-4.2-5.7-4.2a6.3,6.3,0,0,0-6.3,6.3c0,7.074,7.136,8.929,12,15.923,4.6-6.951,12-9.075,12-15.923A6.3,6.3,0,0,0,20.27,3.856Z"
                transform="translate(-2.571 -3.856)" fill="#424249" />
        </svg>
        <span class="likecount">5</span>

        <svg class="comments" xmlns="http://www.w3.org/2000/svg" width="29.591" height="23.22"
            viewBox="0 0 29.591 23.22">
            <path id="acomments" data-name="Icon awesome-comments"
                d="M20.633,10.186c0-4.384-4.618-7.936-10.316-7.936S0,5.8,0,10.186a6.729,6.729,0,0,0,1.885,4.563,11.164,11.164,0,0,1-1.776,2.7.394.394,0,0,0-.074.432.388.388,0,0,0,.362.238,8.733,8.733,0,0,0,4.4-1.24,12.62,12.62,0,0,0,5.52,1.24C16.015,18.121,20.633,14.57,20.633,10.186ZM26.684,21.1a6.719,6.719,0,0,0,1.885-4.563c0-3.318-2.654-6.16-6.413-7.345a7.371,7.371,0,0,1,.064,1c0,5.252-5.342,9.523-11.9,9.523a14.87,14.87,0,0,1-1.572-.094c1.562,2.852,5.233,4.856,9.508,4.856a12.551,12.551,0,0,0,5.52-1.24,8.733,8.733,0,0,0,4.4,1.24.391.391,0,0,0,.362-.238.4.4,0,0,0-.074-.432A11.045,11.045,0,0,1,26.684,21.1Z"
                transform="translate(0.511 -1.75)" fill="none" stroke="#5d5d5d" stroke-width="1" />
        </svg>

        <span class="commentcount">1</span>

        <!-- d19c42 -->


    </div>
</div>

{% block javascripts %}
<script>

</script>
{% endblock javascripts %}