<!DOCTYPE html>
<html lang="en">

<!-- Static assets - Used to load the Favicon -->
{% load static %}

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <!-- Favicon - loaded as static -->
    <link href="{% static 'login/whatproject.png' %}" rel="icon" type="image/png">

    <title>
        {% block title %} {% endblock %}
    </title>

    <meta name="description" content="Project Suggesting System A Major Project KEC">

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
        name='viewport' />

    <!--     Fonts and icons     -->

    <!------ Include the above in your HEAD tag ---------->
    <link
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />

    <!-- CSS Files -->
    <link href="{% static 'login/css/style.css' %}" rel="stylesheet" />
    <link href="{% static 'login/css/sidebar.css' %}" rel="stylesheet" />
    <link href="{% static 'login/css/navigation.css' %}" rel="stylesheet" />


    <!-- Specific CSS goes HERE -->
    {% block stylesheets %}{% endblock stylesheets %}

</head>

<body>

    <div class="wrapper">
        {% include 'includes/navbar.html' %}
        {% include 'includes/sidebar.html' %}

        <div class="main-panel">
            {% block content %}{% endblock content %}
        </div>

    </div>

</body>

<script>


    function openCity(evt, tabname) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("main");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("side-item");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(tabname).style.display = "block";
        evt.currentTarget.className += " active";
    }

    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
</script>
<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}

</html>