{% extends 'base.html' %}
{% load static %}
{% block title %} HomePage {% endblock title %}

{% block stylesheets %}

<link href="{% static 'login/css/projects.css' %}" rel="stylesheet" />
{% endblock stylesheets %}

{% block content %}

<div class="main" id="home">
    {% include 'includes/projects.html' %}
    {% include 'includes/projects.html' %}
    {% include 'includes/projects.html' %}
    {% include 'includes/projects.html' %}
    Hello
    <br>

    Hello
    <br>
    Hello
    <br>
    Hello
    <br>
    Hello
    <br>
    Hello
    <br>
    Hello
    <br>
    Hello
    <br>
    Hello
    <br>
    Hello
    <br>
    Hello
    <br>
    Hello
    <br>
    Hello
    <br>
    Hello
    <br>
    Hello
    <br>
    Hello
    <br>
    Hello
    <br>
    Hello
    <br>
    Hello
    <br>
    Hello
    <br>
    Hello
    <br>
    Hello
    <br>
    Hello
    <br>Hello
    <br>
    Hello
    <br>
    Hello
    <br>
    Hello
    <br>
    Hello
    <br>Hello
    <br>
    Hello
    <br>
    Hello
    <br>
    Hello
    <br>
    Hello
    <br>Hello
    <br>
    Hello
    <br>
    Hello
    <br>
    Hello
    <br>
    Hello
    <br>Hello
    <br>
    Hello
    <br>
    Hello
    <br>
    Hello
    <br>
    Hello
    <br>Hello
    <br>
    Hello
    <br>
    Hello
    <br>
    Hello
    <br>
    Hello
    <br>Hello
    <br>
    Hello
    <br>
    Hello
    <br>
    Hello
    <br>
    Hello
    <br>Hello
    <br>
    Hello
    <br>
    Hello
    <br>
    Hello
    <br>
    Hello
    <br>
</div>
{% include 'profile.html' %}

{% endblock content %}

{% block javascripts %}

{% endblock javascripts %}