{% extends 'base.html' %}
{% load static %}
{% block title %} HomePage {% endblock title %}

{% block stylesheets %}

<link href="{% static 'login/css/projects.css' %}" rel="stylesheet" />
<link href="{% static 'login/css/userprofile.css' %}" rel="stylesheet" />
{% endblock stylesheets %}

{% block content %}

<div class="main" id="home">
    {% include 'includes/projects.html' %}
    {% include 'includes/projects.html' %}
    {% include 'includes/projects.html' %}
    {% include 'includes/projects.html' %}
    Hello
</div>
{% include 'includes/profile.html' %}
{% include 'includes/projecttab.html' %}
{% include 'includes/notifications.html' %}
{% include 'includes/contacts.html' %}
{% include 'includes/popularprojects.html' %}
{% include 'includes/recommendations.html' %}

{% endblock content %}

{% block javascripts %}

{% endblock javascripts %}