{% extends 'base.html' %}
{% load static %}
{% block title %} HomePage {% endblock title %}

{% block stylesheets %}

<link href="{% static 'login/css/projects.css' %}" rel="stylesheet" />
<link href="{% static 'login/css/userprofile.css' %}" rel="stylesheet" />
<link href="{% static 'login/css/contact.css' %}" rel="stylesheet" />
{% endblock stylesheets %}

{% block content %}
<div class="main" id="home">

    {% if allproj %}
        {% for k,v in allproj.items %}
        {% include "includes/projects.html" with title=v.title fname=v.fname feature=v.features%}
        {%endfor%}
        {% endif %}
        
</div>
<div>

</div>
{% include 'includes/profile.html' %}
{% include 'includes/projecttab.html' %}
{% include 'includes/notifications.html' %}
{% include 'includes/contacts.html' %}
{% include 'includes/popularprojects.html' %}
{% include 'includes/recommendations.html' %}

{% endblock content %}

{% block javascripts %}
{% if messages %}
{% for message in messages %}
{% if message.level == 159 %}
<script>
    norify("pSuccess", "{{message}}")
</script>
{% endif %}
{% endfor %}
{% endif %}

<!-- {% if  data and user.is_authenticated %}
<script src="{% static 'login/js/main.js' %}"></script>

{% endif %} -->
{% endblock javascripts %}