:root{
    font-size: 16px;
     font-family: 'Source Sans Pro';
     --text-primary: #E5E5E5;
     --text-secondary: #D0AC6E;
     --bg-primary:#060608;
     --bg-secondary:#424249;
   }

   .projectblock{
    display: block;
    position: relative;
    margin-top: .5rem;
    max-width: 80%;
    overflow-wrap: break-word;
    max-width: 40rem;
    
    border: solid var(--bg-secondary) 0.01rem;
   }
   .profDetails{
    align-content: center;
    margin-left: 0.5rem;   
    margin-top: 0.5rem;   
    width: auto;
    height: 2rem;
    
   }
   .profDetails .avatars{
       width: 1.5rem;
       cursor: pointer;
       height: 1.5rem;
       border-radius: 50%;
   }
    
   .profDetails a{
       text-decoration: none;
       font-size: 1.2rem;
       text-align: center;
       overflow-wrap: break-word;
       position: relative;
       padding-left: 0.3rem;
       bottom: 0.5rem;
       color: var(--bg-secondary);
       align-self: center;
   }
   
   .profDetails:hover a{
    color: var(--text-primary);
   }
   .projectDetails{
    overflow-wrap: break-word;
        padding-left: 2.5rem;
   }
   .ptitle, .descriptionn, .ptopics, .pcreator {
       padding-top: 0.5rem;
       display: inline-block;
       width: auto;
       overflow-wrap: break-word;
       color: var(--bg-secondary);
       font-size: 1.2rem;
   }.pdescription{
        padding-top: 0.5rem;
        padding-right: 2.4rem;
        display:block;
        overflow-wrap: break-word;
        word-wrap: break-word;
       width: auto;
       font-size: 1rem;
       color: var(--bg-secondary);
   }
   .projectInteractions{
    display: block;
    flex-direction: row;
    padding-top: 0.5rem;
    width: auto;
    padding-bottom: 0.3rem;
    padding-left: 2.4rem;
    padding-right: 3.4rem;
    height: 2rem;
   }
   .heartrate{
   float: left;
   cursor: pointer;
   }
   #heartrate{
    fill: none;
    stroke:var(--bg-secondary);
    stroke-width:1;
   }
   .heartrate:hover #heartrate{
    fill: var(--text-primary);
   }
  
   .likecount{
    padding-left: 0.5rem;
    color: var(--bg-secondary);
   }
   .heartrate:hover + .likecount{
    color: var(--text-primary);
   }
.commentcount{
   display: inline-block;
   position: absolute;
    padding: 0.2rem;
    padding-left: 0.5rem;
    color: var(--bg-secondary);
   right: 4rem;
}
   .comments{
       position: absolute;
       right: 5rem;
       cursor: pointer;
   }
   .comments:hover #acomments{
     
    stroke: var(--text-primary);
   
   }
   .comments:hover ~ .commentcount{
       color: var(--text-primary);
   }


#projecttab{
    display: flex;   
    height: 12rem;
    flex-direction: row;
}
.projectshowsecction{
    display: inline-flex;
    min-width: 30rem;
    flex-direction: column;
    max-width: 45rem;
    min-height: 10.5rem;
}
.projectuploadsection{
    display: inline-flex;
    margin-left: 8rem;
    position: fixed;
    padding-top: 10rem;
    min-width: 10rem;
    display: inline-flex;
    flex-direction: column;
    max-width: 35rem;

}
.uploadingbox{
    display: inline-flex;
    flex-direction: column;
    width: 15rem;
    border: solid 0.1rem var(--bg-secondary);
    height: 15rem;
}
.uploadingbox svg{
    margin-top: 6em;
    height: 2rem;
    width: 2rem;
    cursor: pointer;
    pointer-events: painted;
    align-self: center;
}
.uploadingbox span{
    align-self: center;
    font-size: 1.3rem;
    color: var(--text-secondary);
}

.uploadprojectmodal {
    display: none;
    position: fixed; 
    z-index: 1; 
    padding-top: 10rem;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
.modal-content {
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(50px);
    margin: auto;
    padding-left: 2rem;
    padding-right: 0.2rem;
   
    border: 1px solid #888;
    width: 45%;
}
.modal-content button{
  margin-bottom: 1rem;
  margin-left: 3rem;
   float: center;
  
}
.modal-content input{
    word-wrap: break-word;
    overflow: hidden;
    margin: 1rem;
    width: 50%;
}
.mclose {
    color: #aaaaaa;
    float: right;
    font-size: 2rem;
    font-weight: bold;
  }
  
  .mclose:hover,
  .mclose:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
@media only screen and (max-width:600px){
    .projectblock{
        width: auto;
        padding: 0;
        margin: 0.5rem;
    }
    
}