:root{
    font-size: 16px;
     font-family: 'Source Sans Pro';
     --text-primary: #E5E5E5;
     --text-secondary: #D0AC6E;
     --bg-primary:#060608;
     --bg-secondary:#424249;
   }

   .projectblock{
    display: block;
    position: relative;
    margin-top: .5rem;
    min-width: 35rem;
    overflow-wrap: break-word;
    max-width: 45rem;
    
    border: solid var(--bg-secondary) 0.01rem;
   }
   .profDetails{
    align-content: center;
    margin-left: 0.5rem;   
    margin-top: 0.5rem;   
    width: auto;
    height: 2rem;
    
   }
   .profDetails .avatars{
       width: 1.5rem;
       cursor: pointer;
       height: 1.5rem;
       border-radius: 50%;
   }
    .avatars:hover{
       border: solid 0.2rem var(--text-primary);
   } 
   .profDetails a{
       text-decoration: none;
       font-size: 1.2rem;
       text-align: center;
       overflow-wrap: break-word;
       position: relative;
       padding-left: 0.3rem;
       bottom: 0.5rem;
       color: var(--bg-secondary);
       align-self: center;
   }
   .profDetails:hover .avatars{
    border: solid 0.1rem var(--text-secondary);
   }
   .profDetails:hover a{
    color: var(--text-primary);
   }
   .projectDetails{
    overflow-wrap: break-word;
        padding-left: 2.5rem;
   }
   .ptitle, .descriptionn, .ptopics, .pcreator {
       padding-top: 0.5rem;
       display: inline-block;
       width: auto;
       overflow-wrap: break-word;
       color: var(--bg-secondary);
       font-size: 1.2rem;
   }.pdescription{
        padding-top: 0.5rem;
        padding-right: 2.4rem;
        display:block;
        overflow-wrap: break-word;
        word-wrap: break-word;
       width: auto;
       font-size: 1rem;
       color: var(--bg-secondary);
   }
   .projectInteractions{
    display: block;
    flex-direction: row;
    padding-top: 0.5rem;
    width: auto;
    padding-bottom: 0.3rem;
    padding-left: 2.4rem;
    padding-right: 3.4rem;
    height: 2rem;
   }
   .heartrate{
   float: left;
   cursor: pointer;
   }
   #heartrate{
    fill: none;
    stroke:var(--bg-secondary);
    stroke-width:1;
   }
   .heartrate:hover #heartrate{
    fill: var(--text-primary);
   }
  
   .likecount{
    padding-left: 0.5rem;
    color: var(--bg-secondary);
   }
   .heartrate:hover + .likecount{
    color: var(--text-primary);
   }
.commentcount{
   display: inline-block;
   position: absolute;
    padding: 0.2rem;
    padding-left: 0.5rem;
    color: var(--bg-secondary);
   right: 4rem;
}
   .comments{
       position: absolute;
       right: 5rem;
       cursor: pointer;
   }
   .comments:hover #acomments{
     
    stroke: var(--text-primary);
   
   }
   .comments:hover ~ .commentcount{
       color: var(--text-primary);
   }