
:root{
  font-size: 16px;
   font-family: 'Source Sans Pro';
   --text-primary: #E5E5E5;
   --text-secondary: #D0AC6E;
   --bg-primary:#060608;
   --bg-secondary:#424249;
 }
.sidebar{
    width: 15rem;
    height: 100vh;
    position: fixed;
    background-color: var(--bg-primary);
  }
  
  .sidebar-nav{
    list-style: none;
    padding:0;
    
    margin:0;
    display: flex;
    flex-direction: column;
    align-items: initial;
    height: 100%;
    width: 100%;
  }
  .verticleline{
    z-index: -1;
   left: 100%;
    top:4rem;
    height: 80%; 
    position:absolute; 
    border-left: solid 0.05rem var(--bg-secondary);
  }
  
  .navlogo{
     padding:1.3rem;
     align-items: center;
  }
  .side-item{
    padding-left: 3rem;
    align-items: initial;
    padding: 1rem;
    padding-left: 3rem;
    width: 12.22rem;
  }
  /* .side-item:last-child {
    margin-top: auto;
  } */
  .side-link{
    display: flex;
    align-items: center;
    height: 2rem;
    cursor: pointer;
    color: var(--bg-secondary);
    text-decoration: none;
    width: auto;
  }
  .side-txt{
    font-size: 1.3rem;
    cursor: pointer;
    transition: 0.5s;
  }
  #testing{
    margin-left: auto;
    float: inline-end;
    position: absolute;
    
  }
  #anilight{
    visibility: hidden;
    transform: scaleX(0);
    transition: ease-in 300ms;
    transition-delay: 100ms;
    transform-origin: right;
  }
  .side-item.active #anilight{
  visibility: visible;
  transform: scale(1);
  }
  .side-item.active .side-txt{
   color: var(--text-primary);
    }
  .side-item.active #homeiconmobile{
    fill: var(--text-secondary);
  }
  .anibulb{
    transition: ease 0.3s;
    margin-left: 98.9%;
    width: 7px;
    position: absolute;
    height: 2rem;
    background-color: #e5e5e5;
    }
    .side-item:nth-child(1).active~ .anibulb{
  margin-top: 1rem;
    }
  
    .side-item:nth-child(2).active~ .anibulb{
      margin-top: 5rem;
        }
  
    .side-item:nth-child(3).active~ .anibulb{
      margin-top: 9rem;
        }
  
    .side-item:nth-child(4).active~ .anibulb{
      margin-top: 13rem;
        }
  
    .side-item:nth-child(5).active~ .anibulb{
      margin-top: 17rem;
        }
  
    .side-item:nth-child(6).active~ .anibulb{
      margin-top: 21rem;
        }
  
    .side-item:nth-child(7).active~ .anibulb{
      margin-top: 25rem;
        }
.homeiconmobile{
  display: none;
  position: absolute;
  height: 2rem;
  width: 2rem;
}


@media only screen and (max-width:600px){
  .sidebar{
    bottom: 0;
    width: 100%;
    height: 3rem;
    margin: 0;
    padding: 0;
    
    align-items: center;
    border-top: solid 0.05rem var(--bg-secondary);
  }
  .homeiconmobile{
    display: block;
  }
  .sidebar-nav{
    flex-direction: row;
    margin: 0;
    align-items: center;
  }
  .side-link{
    margin: 0;
    width: 2rem;
    height: 2rem;
  }
  .side-item{
    margin-left: 0.5rem;
    align-self: center;
    padding: 0;
  }
  .side-item #testing{
    display: none;
  }
  .navlogo{
    display: none;
  }
  .side-txt{
    
    display: none;
  }
  .anibulb{
    display: none;
  }
}